@model MonitoringFinances.Models.AdminModels.PredefinedCategory
<!--Required Scripts and Stuff-->
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>



<form asp-controller="PredefinedCategory" asp-action="UpSert" id="UpSertPredefinedCategoryForm">
    <input type="hidden" asp-for="Id" />
    <div class="row mb-3">
        <label asp-for="Name" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
            <input asp-for="Name" class="form-control" id="Name" aria-describedby="Name">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
</form>
