@model IEnumerable<MonitoringFinances.Models.Transaction>
@using Syncfusion.EJ2

<div class="container">
    <div class="row my-3">
        <div class="col-12 col-md-6 p-3 ">
            <h1 class="display-5">
                Transactions
            </h1>
        </div>
        <div class="col-12 col-md-6 text-end d-flex align-items-center justify-content-md-end">
            <div class="" role="group">
                <a class="btn btn-success px-4 fs-5 mx-2" onclick="UpSert(0, true)">
                    <i class="fas fa-plus"></i>&nbsp;Add Income
                </a>
                <a class="btn btn-danger px-4 fs-5 mx-2" onclick="UpSert(0, false)">
                    <i class="fas fa-plus"></i>&nbsp;Add Expense
                </a>
            </div>

        </div>
    </div>
    <div class="row my-3">
        <div class="col-md-6">
            @if (Model.Count() > 0)
            {
                <ejs-grid id="Grid" width="670" dataSource="Model" rowDataBound="rowDataBound" allowPaging="true" allowResizing="true">
                    <e-grid-pagesettings pageSize="10" pageSizes="@(new string[] { "5", "10", "20", "50", "All" })"></e-grid-pagesettings>
                    <e-grid-columns>
                        <e-grid-column headerText="#" textAlign="Center" width="80"></e-grid-column>
                        <e-grid-column field="Amount" headerText="Amount" textAlign="Center" format="C2" width="100"></e-grid-column>
                        <e-grid-column field="Date" headerText=" Date" format="MMM d, yyyy" width="130"></e-grid-column>
                        <e-grid-column field="Category.Name" headerText=" Category" width="130"></e-grid-column>
                        <e-grid-column headerText="Action" textAlign="Center" template="${incomeAction(data)}" width="200"></e-grid-column>
                    </e-grid-columns>
                </ejs-grid>
            }
            else
            {
                <div class="col p-3">
                    <p class="lead">No Transaction Exists!</p>
                </div>
            }
        </div>
        <div class="col-md-6">
            @{
                //next table goes here
             }
        </div>
    </div>
</div>

<!--Detail Transaction Modal-->
<div class="modal fade" id="DetailTransactionModal" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <p class="h5 modal-title" id="detail-modal-title"></p>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="DetailTransactionModalBody">
                <!--This is where my form data will go-->
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!--Create/Edit Category Modal-->
<div class="modal fade" id="UpSertTransactionModal" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <p class="h5 modal-title" id="upsert-modal-title">Create Category</p>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="UpSertTransactionModalBody">
                <!--This is where my form data will go-->
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button id="UpSertTransactionFormButton" form="UpSertTransactionForm" type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>

<!--Delete Category Modal-->
<div class="modal fade" id="DeleteTransactionModal" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <p class="h5 modal-title" id="delete-modal-title"></p>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="DeleteTransactionModalBody">
                <!--This is where my form data will go-->
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button id="DeleteTransactionFormButton" form="DeleteTransactionForm" type="submit" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        

        var Detail = function (Id) {
            var url = "/Transaction/Detail/" + Id;
            $('#detail-modal-title').html("Details for Transaction #" + Id);
            $("#DetailTransactionModalBody").load(url, function () {
                $("#DetailTransactionModal").modal("show");
            });
        }

        var UpSert = function (Id, isIncome) {
            console.log("ID: " + Id + " --- isIncome: " + isIncome);
            var url = "/Transaction/UpSert?Id=" + Id + "&isIncome=" + isIncome;

            if (Id == 0 && isIncome == true)
                $('#upsert-modal-title').html("Create Income");
            else if (Id == 0 && isIncome == false)
                $('#upsert-modal-title').html("Create Expense");
            else if (Id > 0 && isIncome == true)
                $('#upsert-modal-title').html("Edit Income #" + Id);
            else if (Id > 0 && isIncome == false)
                $('#upsert-modal-title').html("Edit Expense #" + Id);

            $("#UpSertTransactionModalBody").load(url, function () {
                $("#UpSertTransactionModal").modal("show");
            });
        }

        var Delete = function (Id) {
            var url = "/Transaction/Delete/" + Id;
            $('#delete-modal-title').html("Delete Transaction #" + Id);
            $("#DeleteTransactionModalBody").load(url, function () {
                $("#DeleteTransactionModal").modal("show");
            });
        }
    </script>
    <script type="text/javascript">
        window.incomeAction = function (args) {
            var element;
            var isIncome = args['Category'].CategoryType.Name.localeCompare("Income") === 0 ? true : false;
            console.log(isIncome);
            element = '<div class="w-50" role="group">'
                + '<a onclick="Detail(' + args['Id'] + ')" class="btn btn-outline-secondary btn-sm mx-2">'
                + '<i class="fas fa-info-circle"></i>'
                + '</a>'
                + '<a onclick="UpSert(' + args['Id'] + ',' + isIncome + ') ' + '" class="btn btn-outline-primary btn-sm mx-2">'
                + '<i class="fas fa-edit"></i>'
                + '</a>'
                + '<a onclick="Delete(' + args['Id'] + ')" class="btn btn-outline-danger btn-sm mx-2">'
                + '<i class="far fa-trash-alt"></i>'
                + '</a>'
                + '</div>';
            return element;
        }
    </script>
    <script>
        function rowDataBound(args) {
            if (this.pagerModule.pagerObj.currentPage == 1) {
                args.row.querySelector('td').innerText = +args.row.getAttribute('aria-rowindex') + 1;
            }
            else {
                var num = (this.pagerModule.pagerObj.currentPage - 1) * this.pagerModule.pageSettings.pageSize;
                args.row.querySelector('td').innerText = +args.row.getAttribute('aria-rowindex') + 1 + num;
            }
        }
    </script>
}